Repository fonsp/Pluto.jl, pull requests merged in 2021-12, with the labels that each got.

#1721 Don't resend published objects from PlutoRunner if unchanged
  src/evaluation/Run.jl
  src/evaluation/WorkspaceManager.jl
  src/runner/PlutoRunner.jl
  src/webserver/Dynamic.jl
  test/Dynamic.jl
Labels: backend

#1623 📽 Pluto Recordings
  frontend/common/AudioRecording.js
  frontend/common/PlutoHash.js
  frontend/common/Polyfill.js
  frontend/components/AudioPlayer.js
  frontend/components/Editor.js
  frontend/components/ExportBanner.js
  frontend/components/Preamble.js
  frontend/components/RecordingUI.js
  frontend/editor.css
  frontend/imports/Preact.original.js
  tsconfig.json
Labels: frontend, wide audience

#1776 Render `embed_display` directly if it will show as HTML
  sample/test_embed_display.jl
  src/runner/PlutoRunner.jl
Labels: display & PlutoRunner

#1533 Highlight Markdown, HTML, JavaScript, Python, SQL within cells
  frontend/components/CellInput.js
  frontend/components/CellInput/mixedParsers.js
  frontend/components/CellOutput.js
Labels: frontend, CM6, wide audience
