Repository fonsp/Pluto.jl, pull requests merged in 2021-04, with the labels that each got.

#1046 Fix ServiceWorker
  frontend/sw.js
  tsconfig.json
Labels: frontend

#937 Fix #936
  src/webserver/WebServer.jl
Labels: good first issue, help welcome

#1047 Option to disable writing to file
  src/Configuration.jl
  src/evaluation/Run.jl
  src/notebook/Notebook.jl
  src/webserver/Dynamic.jl
  src/webserver/SessionActions.jl
  test/frontend/README.md
Labels: backend, good first issue, help welcome, online deployment

#1094 Compact tree viewer types
  frontend/components/TreeView.js
  frontend/treeview.css
  src/runner/PlutoRunner.jl
Labels: display & PlutoRunner, frontend

#1090 GR performance: SVG, not HTML, and use PNG for large plots
  src/runner/PlutoRunner.jl
Labels: display & PlutoRunner, frontend, other packages

#1015 PLJ-964 open files with paste or drop on welcome screen
  .vscode/settings.json
  frontend/components/PasteHandler.js
  frontend/components/Welcome.js
  src/notebook/Export.jl
  src/webserver/SessionActions.jl
  src/webserver/Static.jl
Labels: backend, online deployment
