Repository fonsp/Pluto.jl, pull requests merged in 2022-11, with the labels that each got.

#2249 Logging: Scope loggers to cell
  frontend/components/Logs.js
  src/analysis/Topology.jl
  src/evaluation/Run.jl
  src/evaluation/WorkspaceManager.jl
  src/runner/PlutoRunner.jl
  test/Logging.jl
  test/compiletimes.jl
Labels: logging

#2365 Add case for handling splat assignments.
  src/analysis/ExpressionExplorer.jl
  test/ExpressionExplorer.jl
Labels: expression explorer

#2367 Rewrite FilePicker from a class component to a function component
  frontend/components/FilePicker.js
Labels: frontend

#2376 Rework Live Docs layout to support new tabs in future
  frontend/components/BottomRightPanel.js
  frontend/components/Editor.js
  frontend/components/LiveDocs.js
  frontend/components/LiveDocsTab.js
  frontend/dark_color.css
  frontend/editor.css
  frontend/light_color.css
Labels: frontend

#2402 Don't write to file when changing bonds
  src/evaluation/RunBonds.jl
  test/Bonds.jl
Labels: bug, backend, performance
