Repository fonsp/Pluto.jl, pull requests merged in 2022-04, with the labels that each got.

#1919 PlutoPkg install race condition
  src/Configuration.jl
  src/evaluation/Run.jl
  src/packages/Packages.jl
  test/Notebook.jl
  test/packages/Basic.jl
Labels: package manager

#2024 ✂️ Welcome.js refactor: more files more fun
  frontend/common/NewUpdateMessage.js
  frontend/common/NotebookLocationFromURL.js
  frontend/common/PlutoConnection.js
  frontend/components/PasteHandler.js
  frontend/components/Welcome.js
  frontend/components/welcome/Open.js
  frontend/components/welcome/Recent.js
  frontend/components/welcome/Welcome.js
  frontend/index.js
Labels: frontend

#2005 Reduce time to first `from_flat_kwargs`
  Project.toml
  src/Configuration.jl
  test/Configuration.jl
Labels: performance

#2029 Generalize binder to other backends
  frontend/common/Binder.js
  frontend/components/BinderButton.js
  frontend/components/Editor.js
  frontend/components/ProgressBar.js
Labels: frontend, online deployment

#2028 Improve readability and inferability inside `Pluto.run(session, router)`
  Project.toml
  src/webserver/WebServer.jl
  test/helpers.jl
  test/runtests.jl
  test/webserver.jl
Labels: performance

#2020 Disable "Open" button on main menu when nothing is typed
  frontend/components/FilePicker.js
  frontend/editor.css
  frontend/index.css
Labels: enhancement, frontend

#2039 Add a precompile statement to `PlutoRunner` and some minor refactorings
  src/runner/PlutoRunner.jl
  test/compiletimes.jl
Labels: performance

#2043 🐝 Fix sliderserver-binder combination
  frontend/common/SliderServerClient.js
  frontend/components/Editor.js
Labels: bug, frontend, online deployment

#2047 Show bonds "greyed out" when not connected
  frontend/common/Bond.js
  frontend/components/BinderButton.js
  frontend/components/CellOutput.js
  frontend/components/Editor.js
  frontend/editor.css
Labels: frontend

#2068 Set `Base.Experimental.@max_methods 1`
  src/Pluto.jl
  test/compiletimes.jl
Labels: performance

#2070 Benchmark tools in inner scope
  src/analysis/ExpressionExplorer.jl
  test/ExpressionExplorer.jl
  test/compiletimes.jl
Labels: expression explorer
