Repository fonsp/Pluto.jl, pull requests merged in 2022-06, with the labels that each got.

#2132 Automatically generate SRI attributes in bundle
  frontend-bundler/add_sri.js
  frontend-bundler/package-lock.json
  frontend-bundler/package.json
Labels: online deployment

#2147 Fix high-frequency, complex bond combinations causing a stall
  frontend/components/Editor.js
  frontend/imports/immer.d.ts
Labels: bug, frontend

#2133 Use bundled editor.html for static export if possible
  Project.toml
  src/notebook/Export.jl
  test/Configuration.jl
Labels: online deployment

#2109 Fall back to text/plain when tree viewer display fails
  src/runner/PlutoRunner.jl
  test/RichOutput.jl
Labels: other packages, display & PlutoRunner

#2148 ANSI colored output in captured stdout
  frontend/components/Logs.js
  frontend/components/PkgTerminalView.js
  frontend/imports/AnsiUp.js
  src/runner/PlutoRunner.jl
Labels: frontend, logging

#2154 Make `compute_symbolreferences` signature concrete
  src/analysis/ExpressionExplorer.jl
  src/runner/PlutoRunner.jl
  test/ExpressionExplorer.jl
  test/helpers.jl
Labels: backend, performance

#2155 Refactor `ExpressionExplorer.explore!`
  src/analysis/ExpressionExplorer.jl
  src/evaluation/Run.jl
  test/ExpressionExplorer.jl
Labels: backend, performance

#2164 Include secret search param in WS connect
  frontend/common/Binder.js
  frontend/common/PlutoConnection.js
  frontend/common/URLTools.js
Labels: frontend

#2172 Simplify tuple handling in ExpressionExplorer
  src/analysis/ExpressionExplorer.jl
  test/ExpressionExplorer.jl
Labels: expression explorer
