Repository fonsp/Pluto.jl, pull requests merged in 2023-10, with the labels that each got.

#2660 Button to toggle presentation mode in export menu
  frontend/components/ExportBanner.js
  frontend/components/SlideControls.js
  frontend/editor.css
Labels: frontend

#2661 Filter on exported symbols in 1.11
  src/runner/PlutoRunner.jl
  test/ExpressionExplorer.jl
Labels: reactivity

#2563 👀 Open notebooks without running
  frontend/common/Binder.js
  frontend/common/ProcessStatus.js
  frontend/common/RunLocal.js
  frontend/components/Cell.js
  frontend/components/CellOutput.js
  frontend/components/Editor.js
  frontend/components/Logs.js
  frontend/components/Notebook.js
  frontend/components/PkgStatusMark.js
  frontend/components/Popup.js
  frontend/components/RecordingUI.js
  frontend/components/SafePreviewUI.js
  frontend/components/TreeView.js
  frontend/components/welcome/Open.js
  frontend/components/welcome/Recent.js
  frontend/components/welcome/Welcome.js
  frontend/dark_color.css
  frontend/editor.css
  frontend/editor.js
  frontend/imports/DOMPurify.d.ts
  frontend/imports/DOMPurify.js
  frontend/light_color.css
  src/Configuration.jl
  src/evaluation/Run.jl
  src/evaluation/WorkspaceManager.jl
  src/notebook/Notebook.jl
  src/packages/Packages.jl
  src/webserver/Dynamic.jl
  src/webserver/Router.jl
  src/webserver/Session.jl
  src/webserver/SessionActions.jl
  src/webserver/Status.jl
  test/Configuration.jl
  test/frontend/__tests__/safe_preview.js
  test/frontend/__tests__/slide_controls.js
  test/frontend/fixtures/safe_preview.jl
  test/frontend/helpers/pluto.js
Labels: enhancement, frontend, backend, wide audience

#2673 Update codemirror and support try-catch-else
  frontend/components/CellInput.js
  frontend/components/CellInput/LiveDocsFromCursor.js
  frontend/components/CellInput/block_matcher_plugin.js
  frontend/components/CellInput/pluto_autocomplete.js
  frontend/imports/CodemirrorPlutoSetup.d.ts
  frontend/imports/CodemirrorPlutoSetup.js
  src/analysis/ExpressionExplorer.jl
  test/ExpressionExplorer.jl
Labels: frontend, expression explorer, CM6

#2681 Use <dialog> for binder EditOrRun modal
  frontend/binder.css
  frontend/common/useDialog.js
  frontend/components/EditOrRunButton.js
  frontend/components/FrontmatterInput.js
Labels: frontend

#2686 Show error message when statefile fails to load
  frontend/editor.js
Labels: frontend, online deployment

#2688 📰 Preview in frontmatter editor
  frontend/common/useDialog.js
  frontend/components/Editor.js
  frontend/components/FrontmatterInput.js
  frontend/components/welcome/FeaturedCard.js
  frontend/editor.css
  frontend/featured-card.css
  frontend/index.css
  frontend/welcome.css
Labels: frontend, publishing

#2696 Fix embed_display again: handle attributes as string values properly
  frontend/components/CellOutput.js
Labels: bug, frontend, display & PlutoRunner

#2697 Don't rerender cell output when only `persist_js_state` changed
  frontend/components/CellOutput.js
  test/frontend/__tests__/wind_directions.js
  test/frontend/fixtures/wind_directions.jl
  test/frontend/helpers/common.js
Labels: frontend, display & PlutoRunner
