Repository fonsp/Pluto.jl, pull requests merged in 2023-04, with the labels that each got.

#2516 Hide server start and stop logs from HTTP.jl
  Project.toml
  src/webserver/WebServer.jl
Labels: backend, HTTP/WS

#2501 🦆 Fix #2416 maybe by avoiding race condition
  src/evaluation/Run.jl
  src/webserver/Dynamic.jl
Labels: help welcome, backend, HTTP/WS

#2525 ExpressionExplorer: Handle more complex struct constructors
  src/analysis/ExpressionExplorer.jl
  test/ExpressionExplorer.jl
Labels: expression explorer

#2523 Add binder progress and logs to status tab
  frontend/common/Binder.js
  frontend/common/RunLocal.js
  frontend/components/BottomRightPanel.js
  frontend/components/Editor.js
  frontend/components/ProcessTab.js
  frontend/editor.js
Labels: frontend, online deployment

#2528 🐰 Fix #2527
  src/packages/PkgCompat.jl
Labels: backend, package manager

#2499 Julia 1.9: Ensure that precompile caches match by running `Pkg.precompile()` in an isolated Julia process
  .github/workflows/Test.yml
  frontend/components/ProcessTab.js
  src/Pluto.jl
  src/packages/Packages.jl
  src/packages/PkgCompat.jl
  src/packages/precompile_isolated.jl
  test/Notebook.jl
  test/packages/Basic.jl
Labels: backend, package manager

#2500 🎡 Fancyprint Pkg logs
  src/packages/ANSIEmulation.jl
  src/packages/IOListener.jl
  src/packages/Packages.jl
  src/packages/PkgCompat.jl
  src/packages/precompile_isolated.jl
Labels: enhancement, backend, package manager

#2531 🔔 Notify when all cells completed
  frontend/components/BottomRightPanel.js
  frontend/components/Editor.js
  frontend/components/NotifyWhenDone.js
  frontend/components/ProcessTab.js
  frontend/dark_color.css
  frontend/editor.css
  frontend/light_color.css
Labels: frontend, online deployment, wide audience

#2540 Upgrade codemirror to 26 April 2023
  frontend/imports/CodemirrorPlutoSetup.d.ts
  frontend/imports/CodemirrorPlutoSetup.js
Labels: frontend

#2539 FunctionNameSignaturePair: store hash of canonalized head
  src/analysis/ExpressionExplorer.jl
  src/notebook/Notebook.jl
  test/MethodSignatures.jl
  test/helpers.jl
Labels: backend

#2544 Fix autocomplete on binder and featured notebooks
  frontend/common/PlutoConnection.js
  frontend/components/CellInput.js
  frontend/components/CellInput/pkg_bubble_plugin.js
  frontend/components/CellInput/pluto_autocomplete.js
Labels: bug, frontend, online deployment

#2545 Change 🔺🔴🟥 button to share icon
  frontend/editor.css
Labels: frontend
