Repository fonsp/Pluto.jl, pull requests merged in 2023-12, with the labels that each got.

#1881 Import PlutoRunner as module in Loader.jl
  src/Pluto.jl
  src/evaluation/WorkspaceManager.jl
  src/runner/Loader.jl
  src/runner/PlutoRunner/Project.toml
  src/runner/PlutoRunner/src/PlutoRunner.jl
Labels: backend, display & PlutoRunner, performance

#2745 Fix invisible button issues on touch displays
  frontend/editor.css
Labels: frontend, accessibility

#2744 Some tab indexing improvements
  frontend/components/Cell.js
  frontend/components/CellInput.js
  frontend/components/CellInput/pkg_bubble_plugin.js
  frontend/components/CellInput/pluto_autocomplete.js
  frontend/components/CellOutput.js
  frontend/components/Editor.js
  frontend/components/Notebook.js
  frontend/editor.css
Labels: frontend, accessibility

#2746 Show help when stuck in tab index trap
  frontend/common/Bond.js
  frontend/common/open_pluto_popup.js
  frontend/components/Cell.js
  frontend/components/CellInput.js
  frontend/components/CellInput/tab_help_plugin.js
  frontend/components/Editor.js
  frontend/components/FilePicker.js
  frontend/components/Logs.js
  frontend/components/PkgStatusMark.js
  frontend/components/Popup.js
  frontend/components/RunArea.js
  frontend/components/SafePreviewUI.js
  frontend/components/SlideControls.js
  frontend/imports/AnsiUp.js
Labels: frontend, accessibility, CM6

#2749 little cleanup: useEventListener hook
  frontend/common/useDialog.js
  frontend/common/useEventListener.js
  frontend/components/BottomRightPanel.js
  frontend/components/Cell.js
  frontend/components/CellInput/tab_help_plugin.js
  frontend/components/ExportBanner.js
  frontend/components/FrontmatterInput.js
  frontend/components/HackySideStuff/HijackExternalLinksToOpenInNewTab.js
  frontend/components/NonCellOutput.js
  frontend/components/PasteHandler.js
  frontend/components/Popup.js
  frontend/components/Scroller.js
  frontend/components/UndoDelete.js
Labels: frontend

#2750 Use <dialog> for the export menu for better keyboard accessibility
  frontend/components/ExportBanner.js
  frontend/editor.css
Labels: frontend, accessibility

#2752 Make the pkg popup tab-friendly
  frontend/components/Editor.js
  frontend/components/PkgStatusMark.js
  frontend/components/PkgTerminalView.js
  frontend/components/Popup.js
  frontend/components/SafePreviewUI.js
Labels: frontend, accessibility

#2758 Make global progress bar hidden from screen readers
  frontend/components/ProgressBar.js
Labels: frontend, accessibility

#2760 ⌨️ Keyboard shortcut Alt-Arrow to move cells
  frontend/common/KeyboardShortcuts.js
  frontend/components/CellInput.js
  frontend/components/Editor.js
  frontend/imports/CodemirrorPlutoSetup.d.ts
  frontend/imports/CodemirrorPlutoSetup.js
Labels: frontend, accessibility

#2759 Make cell context menu tab-friendly
  frontend/common/useEventListener.js
  frontend/components/CellInput.js
Labels: frontend, accessibility
