Repository fonsp/Pluto.jl, pull requests merged in 2023-03, with the labels that each got.

#2493 Logging: move `maxlog` handling to PlutoRunner
  src/evaluation/WorkspaceManager.jl
  src/runner/PlutoRunner.jl
Labels: performance, logging

#2498 Show Pkg logs in Process Status tab
  frontend/components/PkgTerminalView.js
  frontend/components/ProcessTab.js
  frontend/editor.css
  src/packages/Packages.jl
  src/webserver/Status.jl
Labels: frontend, package manager

#2496 A few random cleanups
  src/analysis/Errors.jl
  src/evaluation/MacroAnalysis.jl
  src/evaluation/Run.jl
  src/evaluation/WorkspaceManager.jl
  src/packages/Packages.jl
  src/webserver/Dynamic.jl
  src/webserver/Status.jl
Labels: backend

#2507 Capture and display Pkg logs in the notebook
  Project.toml
  src/packages/Packages.jl
  src/packages/PkgCompat.jl
Labels: package manager, logging

#2505 Instantiate after update
  src/packages/Packages.jl
Labels: package manager

#2504 Instantiate after auto fixed resolve
  src/packages/Packages.jl
Labels: package manager
