Repository fonsp/Pluto.jl, pull requests merged in 2024-03, with the labels that each got.

#2815 call _get_registries() in __init__ of PkgCompat.jl
  src/notebook/Notebook.jl
  src/packages/PkgCompat.jl
  src/precompile.jl
Labels: package manager

#2842 Fix similar docs search on Julia 1.11
  src/runner/PlutoRunner/src/PlutoRunner.jl
  test/runtests.jl
Labels: display & PlutoRunner

#2843 Autocomplete improvements
  frontend/components/CellInput.js
  frontend/components/CellInput/pluto_autocomplete.js
  frontend/editor.css
  src/runner/PlutoRunner/src/PlutoRunner.jl
Labels: frontend

#2848 Fix misaligned line numbers + line wrapping in PDF output
  frontend/common/useEventListener.js
  frontend/components/ExportBanner.js
Labels: frontend

#2858 Show task failures in red in Status tab
  frontend/components/DiscreteProgressBar.js
  frontend/components/Editor.js
  frontend/components/ProcessTab.js
  frontend/dark_color.css
  frontend/editor.css
  frontend/light_color.css
  src/evaluation/Run.jl
  src/evaluation/WorkspaceManager.jl
  src/packages/Packages.jl
  src/packages/PkgCompat.jl
  src/webserver/Status.jl
Labels: frontend

#2857 Autocomplete 15x faster
  frontend/components/CellInput/pluto_autocomplete.js
  src/runner/PlutoRunner/src/PlutoRunner.jl
Labels: backend, display & PlutoRunner, performance

#2863 Autocomplete: improve keyword argument completions
  Project.toml
  frontend/components/CellInput/pluto_autocomplete.js
  frontend/editor.css
  src/runner/Loader.jl
  src/runner/PlutoRunner/Project.toml
  src/runner/PlutoRunner/src/PlutoRunner.jl
Labels: frontend

#2860 Fix Julia 1.11 Pkg tests
  test/packages/pkg_cell.jl
Labels: tests, package manager

#2867 Disable Julia nightly tests
  .github/workflows/Test.yml
Labels: tests

#2869 Fix cell copying on Firefox
  .github/workflows/TypeScriptCheck.yml
  frontend/components/Editor.js
Labels: bug, frontend

#2874 Update codemirror to latest versions
  frontend/components/CellInput/cell_movement_plugin.js
  frontend/components/CellInput/pluto_autocomplete.js
  frontend/components/ExportBanner.js
  frontend/components/Notebook.js
  frontend/editor.css
  frontend/imports/CodemirrorPlutoSetup.js
  test/frontend/helpers/pluto.js
Labels: frontend, dependencies, CM6

#2872 No autocomplete in `do` arguments and variable names
  frontend/components/CellInput/pluto_autocomplete.js
Labels: frontend

#2876 ⚡️ Autocomplete latex and emoji super fast
  frontend/components/CellInput.js
  frontend/components/CellInput/pluto_autocomplete.js
  src/webserver/REPLTools.jl
Labels: enhancement, frontend, performance

#2877 Autocomplete: stop at a keyword
  frontend/components/CellInput/pluto_autocomplete.js
Labels: frontend
