Repository fonsp/Pluto.jl, pull requests merged in 2024-02, with the labels that each got.

#2803 Detect when MathJax 2 was loaded before Pluto tries to load MathJax 3
  frontend/common/SetupMathJax.js
Labels: frontend

#2805 Fix horizontal overflow in tables on Firefox
  frontend/components/TreeView.js
  frontend/treeview.css
Labels: bug, frontend

#2804 Fix input context menu focus issue on safari
  frontend/components/CellInput.js
  frontend/editor.css
Labels: bug, frontend, accessibility

#2807 Fix method table stuff in Julia nightly
  src/runner/PlutoRunner/src/PlutoRunner.jl
  test/React.jl
Labels: display & PlutoRunner

#2812 Stacktraces: shorter for macro expansion and `@Kwargs` in Julia 1.10
  frontend/components/CellInput.js
  frontend/components/ErrorMessage.js
  src/runner/PlutoRunner/src/PlutoRunner.jl
Labels: display & PlutoRunner

#2813 🧾 Stack traces: code preview, URL, truncated, design
  frontend/components/ErrorMessage.js
  frontend/components/Notebook.js
  frontend/dark_color.css
  frontend/editor.css
  frontend/light_color.css
  frontend/treeview.css
  src/runner/PlutoRunner/src/PlutoRunner.jl
Labels: frontend

#2826 Hide bottom row of pixels from export background when minimized
  frontend/editor.css
Labels: frontend

#2726 ⚡️ AbstractPlutoDingetjes.Display.with_js_link to request calculations and data from Julia dynamically
  frontend/components/CellOutput.js
  frontend/components/Editor.js
  src/evaluation/Run.jl
  src/evaluation/RunBonds.jl
  src/evaluation/WorkspaceManager.jl
  src/runner/PlutoRunner/src/PlutoRunner.jl
  src/webserver/Dynamic.jl
  test/frontend/__tests__/javascript_api.js
  test/frontend/__tests__/slide_controls.js
  test/frontend/__tests__/wind_directions.js
  test/frontend/__tests__/with_js_link.js
  test/frontend/fixtures/slides.jl
  test/frontend/fixtures/wind_directions.jl
  test/frontend/fixtures/with_js_link.jl
  test/frontend/helpers/common.js
  test/frontend/helpers/pluto.js
Labels: enhancement, backend, HTTP/WS, other packages, display & PlutoRunner
