Repository fonsp/Pluto.jl, pull requests merged in 2024-07, with the labels that each got.

#2946 autocomplete: defer string check to when completion is applied
  frontend/components/CellInput/pluto_autocomplete.js
Labels: CM6, autocomplete

#2942 Autocomplete-on-type by default on Mac
  frontend/common/KeyboardShortcuts.js
  frontend/components/CellInput.js
Labels: frontend, wide audience, autocomplete

#2949 enable paths autocompletions
  frontend/components/CellInput/pluto_autocomplete.js
  src/runner/PlutoRunner/src/PlutoRunner.jl
Labels: frontend, CM6, autocomplete

#2962 Run basic test on firefox
  .github/workflows/FrontendTest.yml
  .github/workflows/TestFirefox.yml
Labels: frontend, tests

#2963 Run basic test on Safari and Chrome as well
  .github/workflows/TestFirefox.yml
Labels: frontend, tests
