Repository fonsp/Pluto.jl, pull requests merged in 2024-08, with the labels that each got.

#2973 Speedup large notebooks: fix cache miss in `notebook_to_js`
  src/notebook/Notebook.jl
  src/notebook/saving and loading.jl
  src/webserver/Dynamic.jl
Labels: backend, performance

#2976 Speedup large notebooks: cache cell dependencies in notebook_to_js
  src/analysis/DependencyCache.jl
  src/notebook/Notebook.jl
  src/webserver/Dynamic.jl
Labels: backend, performance

#2975 Pkg complete_remote_package Julia 1.11 compat
  src/packages/PkgCompat.jl
Labels: package manager, autocomplete

#2974 Optimize `deep_enough_copy` for faster notebook updates
  src/webserver/Dynamic.jl
Labels: backend, performance

#2977 Backend performance: delete stale connections
  frontend/common/PlutoConnection.js
  frontend/components/CellInput.js
  frontend/components/Editor.js
  frontend/components/welcome/Welcome.js
  src/webserver/WebServer.jl
Labels: frontend, backend, HTTP/WS, performance

#2981 Performance: skip background status sync throttle during reactive run
  src/evaluation/Run.jl
  src/evaluation/Throttled.jl
  src/evaluation/WorkspaceManager.jl
  src/webserver/Authentication.jl
  src/webserver/Dynamic.jl
  src/webserver/SessionActions.jl
  src/webserver/Status.jl
  test/Throttled.jl
Labels: backend, performance

#2990 Don't clear main menu file picker on blur
  frontend/components/CellInput.js
  frontend/components/Editor.js
  frontend/components/FilePicker.js
  frontend/components/welcome/Open.js
Labels: frontend, accessibility

#2992 Fix intermediate bond values again
  frontend/components/Editor.js
  src/evaluation/Run.jl
  test/frontend/__tests__/bonds.js
  test/frontend/fixtures/test_bind_dynamics.jl
Labels: frontend, backend

#2995 Properly cache some useEffects
  frontend/components/CellInput.js
  frontend/components/ExportBanner.js
  frontend/components/FrontmatterInput.js
Labels: frontend, performance

#2824 Set IOContext for redirected stdout/stderr
  src/runner/PlutoRunner/src/PlutoRunner.jl
  test/Logging.jl
Labels: enhancement, good first issue, backend

#2993 Upgrade immer to 10.1.1
  frontend/common/Binder.js
  frontend/common/RunLocal.js
  frontend/common/SliderServerClient.js
  frontend/components/Editor.js
  frontend/components/Editor/LaunchBackendButton.js
  frontend/components/FrontmatterInput.js
  frontend/components/LiveDocsTab.js
  frontend/components/RecordingUI.js
  frontend/imports/immer.d.ts
  frontend/imports/immer.js
Labels: frontend, dependencies

#2996 Keyboard navigation for interactive array viewer
  frontend/common/useEventListener.js
  frontend/components/TreeView.js
Labels: frontend, accessibility

#2989 Fix state out of sync issue caused by race condition
  frontend/components/CellOutput.js
  frontend/components/Editor.js
  src/webserver/Dynamic.jl
Labels: frontend, backend

#3000 Fix macroexpand on Julia 1.11
  src/evaluation/MacroAnalysis.jl
  src/evaluation/WorkspaceManager.jl
Labels: backend, macro

#3004 Bump FuzzyCompletions to 0.5.5
  Project.toml
  src/runner/PlutoRunner/Project.toml
Labels: display & PlutoRunner, autocomplete

#3007 🗄️ Split PlutoRunner into files
  src/runner/PlutoRunner/README.md
  src/runner/PlutoRunner/src/PlutoRunner.jl
  src/runner/PlutoRunner/src/bonds.jl
  src/runner/PlutoRunner/src/display/DivElement.jl
  src/runner/PlutoRunner/src/display/Exception.jl
  src/runner/PlutoRunner/src/display/IOContext.jl
  src/runner/PlutoRunner/src/display/LaTeX.jl
  src/runner/PlutoRunner/src/display/embed_display.jl
  src/runner/PlutoRunner/src/display/format_output.jl
  src/runner/PlutoRunner/src/display/mime dance.jl
  src/runner/PlutoRunner/src/display/syntax error.jl
  src/runner/PlutoRunner/src/display/tree viewer.jl
  src/runner/PlutoRunner/src/evaluation/collect_soft_definitions.jl
  src/runner/PlutoRunner/src/evaluation/deleting globals.jl
  src/runner/PlutoRunner/src/evaluation/macro.jl
  src/runner/PlutoRunner/src/evaluation/return.jl
  src/runner/PlutoRunner/src/evaluation/run_expression.jl
  src/runner/PlutoRunner/src/evaluation/workspace.jl
  src/runner/PlutoRunner/src/ide features/completions.jl
  src/runner/PlutoRunner/src/ide features/docs.jl
  src/runner/PlutoRunner/src/integrations.jl
  src/runner/PlutoRunner/src/io/logging.jl
  src/runner/PlutoRunner/src/io/stdout.jl
  src/runner/PlutoRunner/src/js/jslink.jl
  src/runner/PlutoRunner/src/js/published_to_js.jl
  test/webserver.jl
Labels: display & PlutoRunner

#3010 Fix out of order state update messages
  frontend/components/Editor.js
  src/webserver/Dynamic.jl
Labels: frontend, backend, HTTP/WS
