Repository fonsp/Pluto.jl, pull requests merged in 2024-04, with the labels that each got.

#2890 Fix broken editor.js prefetch
  frontend/index.html
Labels: frontend, performance

#2889 Show progress bar earlier during load
  frontend/editor.html
  frontend/editor.js
Labels: frontend, performance, publishing

#2885 Faster page load: delay rendering codemirror until in view
  frontend/components/CellInput.js
  test/frontend/helpers/pluto.js
Labels: frontend, CM6, performance

#2799 feat: add copy button for markdown code blocks
  frontend/components/CellOutput.js
  frontend/editor.css
Labels: enhancement, frontend

#2894 Support logging a LaTeXString
  src/runner/PlutoRunner/src/PlutoRunner.jl
Labels: display & PlutoRunner

#2896 Font sizing rework
  frontend/alegreya.css
  frontend/binder.css
  frontend/editor.css
  frontend/editor.html
Labels: frontend

#2899 Use `ch` CSS unit to simplify awesome_line_wrapping CM plugin
  frontend/components/CellInput.js
  frontend/components/CellInput/awesome_line_wrapping.js
Labels: frontend, CM6

#2900 Disable fake CM on firefox to fix highlighting in PDF export
  frontend/components/CellInput.js
Labels: bug, frontend, performance, publishing

#2901 Give "Loading more cells..." lots of vertical space so scroll restoration works better on Firefox
  frontend/components/Notebook.js
Labels: frontend

#2903 Rework horizontal spacing code to better support embedded notebooks
  frontend/editor.css
Labels: frontend, publishing

#2902 Try to add already installed versions of packages with `Pkg.PRESERVE_ALL_INSTALLED`
  src/packages/Packages.jl
  src/packages/PkgCompat.jl
Labels: package manager, performance
