Repository fonsp/Pluto.jl, pull requests merged in 2024-10, with the labels that each got.

#3040 Motivational words for errors
  frontend/components/ErrorMessage.js
  frontend/hide-ui.css
  frontend/treeview.css
Labels: error display

#3044 Remove `Main.var"workspace#5"` from stack traces
  src/runner/PlutoRunner/src/display/Exception.jl
Labels: error display

#3045 Stack trace: bracket-matched hiding and expanding and more
  frontend/components/ErrorMessage.js
  frontend/treeview.css
  src/runner/PlutoRunner/src/display/Exception.jl
Labels: error display

#3053 📺 Pop out Live Docs tab into picture-in-picture
  frontend/components/BottomRightPanel.js
  frontend/editor.css
Labels: enhancement, frontend

#3055 Disable autocomplete commit characters `[",", "(", "[", "{"]`
  frontend/components/CellInput/pluto_autocomplete.js
Labels: frontend, autocomplete

#3056 autocomplete: handle definitions from other cells
  frontend/components/CellInput.js
  frontend/components/CellInput/go_to_definition_plugin.js
  frontend/components/CellInput/pluto_autocomplete.js
  frontend/components/Editor.js
Labels: frontend, autocomplete

#3057 docs: use JuliaMono
  frontend/editor.css
Labels: Live Docs
