Repository fonsp/Pluto.jl, pull requests merged in 2025-08, with the labels that each got.

#3305 Fix for clipped LaTeX in markdown
  frontend/editor.css
Labels: codex

#3311 More dutch
  frontend/common/Bond.js
  frontend/components/Cell.js
  frontend/lang/README.md
  frontend/lang/english.json
  frontend/lang/nederlands.json
Labels: language

#3316 Fix copy output button in embed_display trees
  frontend/components/CellOutput.js
Labels: bug, frontend

#3321 Fix execution of hidden scripts
  frontend/components/CellInput.js
  frontend/components/CellOutput.js
  frontend/components/ErrorMessage.js
Labels: bug, frontend, performance

#3326 Added missing localization for delete cell action.
  frontend/components/CellInput.js
Labels: frontend, language

#3334 German lang: use neutral gendered forms
  frontend/lang/deutsch.json
Labels: language
