Repository fonsp/Pluto.jl, pull requests merged in 2025-05, with the labels that each got.

#3223 Update JuliaMono to 0.060
  frontend/fonts/juliamono.css
Labels: frontend

#3227 generate_html: add kwargs for recording_url_js and recording_audio_url_js
  src/notebook/Export.jl
Labels: backend, publishing

#3239 Performance: don't render loading bar animation when idle
  frontend/components/ProgressBar.js
Labels: frontend, performance

#3224 🌟 Auto-generate an AI prompt with smart context
  frontend/components/AIContext.js
  frontend/components/Cell.js
  frontend/components/CellInput.js
  frontend/components/Editor.js
  frontend/components/Popup.js
  frontend/editor.css
  frontend/themes/dark.css
  frontend/themes/light.css
Labels: frontend, wide audience, ai editor

#3222 Convert plain-text output with ANSI codes to HTML
  frontend/components/CellOutput.js
  frontend/components/ErrorMessage.js
  frontend/components/Logs.js
  frontend/components/PkgTerminalView.js
  frontend/components/TreeView.js
  frontend/imports/AnsiUp.js
  src/runner/PlutoRunner/src/display/IOContext.jl
Labels: frontend

#3245 Complete package names from list
  frontend/components/CellInput.js
  frontend/components/CellInput/pkg_bubble_plugin.js
  frontend/components/CellInput/pluto_autocomplete.js
  src/packages/PkgCompat.jl
  src/webserver/Dynamic.jl
  src/webserver/REPLTools.jl
  test/packages/PkgCompat.jl
Labels: frontend, CM6, autocomplete
